*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

#canvas1
{
    border: 2px solid black;
   
    height: 500px;
    width: 800px;
}